<div class="container body-content">
    <div class="row">
        {{#each articles}}
            <div class="col-md-6">
                <article>
                    <header>
                        <h2>{{this.title}}</h2>
                    </header>

                    <p>{{this.content}}
                    </p>

                    <small class="author">
                        &#x77;&#x6F;&#x72;&#x6B;&#x69;&#x6E;&#x65;&#x73;
                        &#x74;&#x6F;&#x6E;&#x69;&#x61;  {{this.User.fullName}}
                    </small>

                    <footer>
                        <div class="pull-right">
                            <a class="btn btn-default btn-xs" href="/article/details/{{this.id}}">Read more &raquo;</a>
                        </div>
                    </footer>
                </article>
            </div>
        {{/each}}
    </div>
</div>
